.login{
	padding:6em 0;
}

.main-agileits {
    width: 30%;
    margin: 0em auto ;
	box-shadow: 0px 0px 15px 0px #D6D6D6;
	-o-box-shadow: 0px 0px 15px 0px #D6D6D6;
	-moz-box-shadow: 0px 0px 15px 0px #D6D6D6;
	-webkit-box-shadow: 0px 0px 15px 0px #D6D6D6;
	padding: 3em ;
}

/*--responsive--*/
@media(max-width:1440px){
.main-agileits {
    width: 35%;
}
}
@media(max-width:1280px){
.main-agileits {
    width: 38%;
}

.main-agileits {
    width: 50%;
}
.main-agileits {
    width: 65%;
}.main-agileits {
    width: 78%;
}
.main-agileits {
    width: 90%;
    padding: 2em;
}
.main-agileits {
    width: 90%;
    padding: 1em;
}

.form-w3agile h3{
    color: #029241;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1.5em;
}

.form-w3agile input[type="submit"] {
    background: #fdb515;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border: none;
    font-size: 1em;
    outline: none;
    width: 32%;
    cursor: pointer;
    margin-bottom:30px;
}

.form-w3agile  input[type="submit"]:hover{
	background:#029241;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}


.form-w3agile h3{
    margin-bottom: 1em;
}

.form-w3agile input[type="submit"] {
    padding: 7px 0;
    margin-bottom: 25px;
}

.form-w3agile h3{
    margin-bottom: 0.8em;
}



.forg a {
    text-decoration: none;
    color: #029241;
    font-size:1em;
}
.forg a:hover{
	color:#fdb515;
}
.forg-left{
	float:left;
}
.forg-right{
	float:right;
}


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.key  input[type="text"] ,.key  input[type="password"]{
    width: 89%;
    padding: 10px 10px;
    font-size: 1em;
    border: none;
    border-bottom: none;
    outline: none;
    color: #999;
    float: left;
    background: none;
}
.key i{
	    float: left;
    color: #999;
    font-size: 1.1em;
    padding: 13px;
}
.key {
    background: #fff;
    border: 1px solid #999;
    margin-bottom: 2em;
}
.form-w3agile h3{
    color: #029241;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1.5em;
}
.form-w3agile input[type="submit"] {
    background: #fdb515;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border: none;
    font-size: 1em;
    outline: none;
    width: 32%;
    cursor: pointer;
    margin-bottom:30px;
}
.form-w3agile  input[type="submit"]:hover{
	background:#029241;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.key i {
    padding: 13px 13px 13px 10px;
}
.key input[type="text"], .key input[type="password"] {
    width: 84%;
    padding: 8px 10px;
}
.key i {
    padding: 10px 0px 10px 10px;
}.form-w3agile input[type="submit"] {
    padding: 7px 0;
    margin-bottom: 25px;
}
.login {
    padding: 2em 0;
}
.form-w3agile h3{
    margin-bottom: 0.8em;
}

