{% load static %}
<div class="col-md-4">
                    <div class="sidebar">
                        <div class="entry-widget">
                            <div class="widget-profile">
                                <div class="image"><img alt="" src=
					    "{% static 'img/blog/cover.jpg' %}"></div>
                                <div class="portfolio"><img alt="" src=
					    "{% static 'img/blog/portfolio.jpg' %}"></div>
                                <div class="info">
                                    <h3 class="name">Sandra Gathmann</h3>
                                    <p class="details">Margaret Gould Stewart
                                    currently serves as Director of Product
                                    Design at Facebook. She previously served
                                    as Director of User Experience at YouTube.
                                    Prior to that, she spent two years leading
                                    Search and Consumer Products UX at Google.
                                    Margaret has been a leading practitioner
                                    and manager in the field of User Experience
                                    for over 15 years.</p>
                                    <div class="social-links">
                                        <a class="twitter social-link"
                                        data-placement="top" data-toggle=
                                        "tooltip" href="#" title=
                                        "Twitter"><i class=
                                        "fa fa-twitter"></i></a> <a class=
                                        "facebook social-link" data-placement=
                                        "top" data-toggle="tooltip" href="#"
                                        title="Facebook"><i class=
                                        "fa fa-facebook"></i></a> <a class=
                                        "google-plus social-link"
                                        data-placement="top" data-toggle=
                                        "tooltip" href="#" title=
                                        "Google+"><i class=
                                        "fa fa-google-plus"></i></a> <a class=
                                        "linkedin social-link" data-placement=
                                        "top" data-toggle="tooltip" href="#"
                                        title="LinkedIn"><i class=
                                        "fa fa-linkedin"></i></a> <a class=
                                        "dribbble social-link" data-placement=
                                        "top" data-toggle="tooltip" href="#"
                                        title="Dribbble"><i class=
                                        "fa fa-dribbble"></i></a> <a class=
                                        "pinterest social-link" data-placement=
                                        "top" data-toggle="tooltip" href="#"
                                        title="Pinterest"><i class=
                                        "fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-widget">
                            <!-- Nav Tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href=
                                    "#popular">Popular</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href=
                                    "#home">Home</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href=
                                    "#recent">Recent</a>
                                </li>
                            </ul><!-- Tab Panels -->
                            <div class="tab-content">
                                <!-- Tab Content 1 -->
				
                                <div class="tab-pane in active fadeInDown" id=
					    "popular">
                                    <ul class="posts-list">
                                        
					{% for post in popular_posts %}
					 <li>
                                            <div class="widget-thumb">
                                                <a href="#"><img alt="" src=
							 "{% static 'img/post/post1.jpg' %}"></a>
                                            </div>
                                            <div class="widget-content">
						<a href="{{ post.get_absolute_url }}">
						{{post.title}}
						</a>
                                                <div class="meta">
                                                    <span><i class=
                                                    "ico-calendar-alt-fill"></i>
							    {{ post.publish.date }}</span>
                                                    <span>
						    <i class= "ico-tag"></i>
                                                    {% for tag in post.tags.all %}
						    {{tag.name}}</span>
						    {% endfor %}
						    </span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
					{% endfor %}
                                    </ul>
                                </div>
				<!-- Tab Content 2 -->
				<div class="tab-pane fadeInDown" id=
					    "home">
                                    <ul class="posts-list">
                                        
					{% for post in home_posts %}
					 <li>
                                            <div class="widget-thumb">
                                                <a href="#"><img alt="" src=
							 "{% static 'img/post/post1.jpg' %}"></a>
                                            </div>
                                            <div class="widget-content">
						    <a href="{{post.get_absolute_url}}">
						{{post.title}}
						</a>
                                                <div class="meta">
                                                    <span><i class=
                                                    "ico-calendar-alt-fill"></i>
							    {{ post.publish.date }}</span>
                                                    <span><i class=
                                                    "ico-tag"></i>
                                                    
						{% for tag in post.tags.all %}
                                                     {{tag.name}}</span>
                                                {% endfor %}



						    </span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
					{% endfor %}
                                    </ul>
                                </div>
                                <!-- End Tab Content 2 -->
                                <!-- Tab Content 3 -->
				<div class="tab-pane" id=
					    "recent">
                                    <ul class="posts-list">
                                        
					{% for post in recent_posts %}
					 <li>
                                            <div class="widget-thumb">
                                                <a href="#"><img alt="" src=
							 "{% static 'img/post/post1.jpg' %}"></a>
                                            </div>
                                            <div class="widget-content">
						    <a href="{{post.get_absolute_url}}">
						{{post.title}}
						</a>
                                                <div class="meta">
                                                    <span><i class=
                                                    "ico-calendar-alt-fill"></i>
							    {{ post.publish.date }}</span>
                                                    <span><i class=
                                                    "ico-tag"></i>
						{% for tag in post.tags.all %}
                                                    {{tag.name}}</span>                 
						{% endfor %}
						</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
					{% endfor %}
                                    </ul>
                                </div>
                                <!-- End Tab Content 3 -->
                                <a class="btn btn-common more" href="#">More
                                Stories <i class="ico-arrow-right"></i></a>
                            </div><!-- End Tab Panels -->
                        </div>
                        <div class="entry-widget">
                            <h5 class="widget-title">Categories</h5>
                            <!-- Accordion  -->
                            <div class="accordion">
                                <div class="panel-group" id="accordion">
				
				<!-- Get Categories -->
				{% for category in categories %}

				    <!-- Start Accordion 1 -->
				    <div class="panel panel-default">
                                        <!-- Toggle Headin -->
                                        <h4 class="panel-title"><a data-parent=
                                        "#accordion" data-toggle="collapse"
						     href="#collapse-{{ category.slug }}"><i class=
                                        "ico-keyboard_arrow_right"></i>{{ category.name }}</a></h4>
                                        <!-- Toggle Content -->
                                        <div class="panel-collapse collapse"
					     id="collapse-{{ category.slug }}">
                                            <div class="panel-body">
                                                <ul class="cat-menu-list">
                                                    
						{% for subcategory in subcategories %}
						{% if subcategory.category_id == category.id %}
						    <li>
                                                        <a href="subcategory/{{subcategory.slug}}"><i class=
                                                        "ico-keyboard_arrow_right">
								</i>{{ subcategory.name }}</a>
                                                    </li>
						{% endif %}
						{% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
				    <!-- End Accordion 1 -->

				    {% endfor %}
                                    

				    <!-- Start Accordion 2 -->
                                    <!-- End Accordion 2 -->
                                    <!-- Start Accordion 3 -->
                                    <!-- End Accordion 3 -->
                                    <!-- Start Accordion 4 -->
                                    <!-- End Accordion 4 -->
                                    <!-- Start Accordion 5-->
                                    <!-- End Accordion 5 -->
                                    <!-- Start Accordion 6-->
                                    <!-- End Accordion 6 -->
                                </div>
                            </div>
                        </div>
                        <div class="entry-widget">
                            <h5 class="widget-title">Latest Tweets</h5>
                            <div class="latest-tweets">
                                <ul class="posts-list">
                                    <li>
                                        <div class="icon">
                                            <a href="#"><i class=
                                            "ico-twitter-with-circle"></i></a>
                                        </div>
                                        <div class="tweets-content">
                                            <a href="#">IntimateBlog
                                            <span>@intimateblog</span></a>
                                            <p class="details">
                                            <span>@Noah</span> We built with
                                            the most amusing digital ecommerce
                                            widget WooCommerce most amusing
                                            digital.</p>
                                            <p class="ago">18 Days Ago</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <a href="#"><i class=
                                            "ico-twitter-with-circle"></i></a>
                                        </div>
                                        <div class="tweets-content">
                                            <a href="#">IntimateBlog
                                            <span>@intimateblog</span></a>
                                            <p class="details">
                                            <span>@Noah</span> We built with
                                            the most amusing digital ecommerce
                                            widget WooCommerce most amusing
                                            digital.</p>
                                            <p class="ago">18 Days Ago</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <a href="#"><i class=
                                            "ico-twitter-with-circle"></i></a>
                                        </div>
                                        <div class="tweets-content">
                                            <a href="#">IntimateBlog
                                            <span>@intimateblog</span></a>
                                            <p class="details">
                                            <span>@Noah</span> We built with
                                            the most amusing digital ecommerce
                                            widget WooCommerce most amusing
                                            digital.</p>
                                            <p class="ago">18 Days Ago</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <a href="#"><i class=
                                            "ico-twitter-with-circle"></i></a>
                                        </div>
                                        <div class="tweets-content">
                                            <a href="#">IntimateBlog
                                            <span>@intimateblog</span></a>
                                            <p class="details">
                                            <span>@Noah</span> We built with
                                            the most amusing digital ecommerce
                                            widget WooCommerce most amusing
                                            digital.</p>
                                            <p class="ago">18 Days Ago</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="follow">
                                    <h4>Follow Us <a href=
                                    "#">@intimateblog</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="entry-widget">
                            <h5 class="widget-title">Archive</h5>
                            <ul class="archivee">
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i> October
                                    (2015)</a>
                                </li>
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i> September
                                    (2015)</a>
                                </li>
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i> June
                                    (2015)</a>
                                </li>
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i> May
                                    (2015)</a>
                                </li>
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i> April
                                    (2015)</a>
                                </li>
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i>
                                    Marvh(2015)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="entry-widget">
                            <h5 class="widget-title">Flicker Widget</h5>
                            <div class="flickr">
                                <ul>
                                    <li>
                                        <a href="#"><img alt="" src=
						 "{% static 'img/blog/thumb1.jpg' %}"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img alt="" src=
						 "{% static 'img/blog/thumb2.jpg' %}"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img alt="" src=
						 "{% static 'img/blog/thumb3.jpg' %}"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img alt="" src=
						 "{% static 'img/blog/thumb4.jpg' %}"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img alt="" src=
						 "{% static 'img/blog/thumb5.jpg' %}"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img alt="" src=
						 "{% static 'img/blog/thumb6.jpg' %}"></a>
                                    </li>
                                </ul><a class="btn btn-common more" href=
                                "#">More Stories <i class=
                                "ico-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="entry-widget">
                            <h5 class="widget-title">Tags</h5>
                            <div class="tag">
                                <a href="#">Techonology</a> <a href=
                                "#"><span class="large">WordPress</span></a>
                                <a href="#"><span class=
                                "large">UI/UX</span></a> <a href="#">Design</a>
                                <a href="#">CSS3</a> <a href="#">Example</a>
                                <a href="#">Interface</a> <a href=
                                "#"><span class="madium">Modern</span></a>
                                <a href="#"><span class=
                                "large">Lifestyle</span></a> <a href=
                                "#"><span class="large">Parallax</span></a>
                                <a href="#">HTML5</a> <a href="#">Tag</a>
                                <a href="#"><span class=
                                "madium">Intimate</span></a> <a href=
                                "#"><span class="large">Youtube</span></a>
                                <a href="#">Video</a> <a href="#">Apps</a>
                                <a href="#"><span class=
                                "madium">User</span></a> <a href=
                                "#">Programming</a> <a href="#">Vimeo</a>
                            </div>
                        </div>
                        <div class="entry-widget">
                            <h5 class="widget-title">Meta</h5>
                            <ul class="meta-list">
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i> Log In</a>
                                </li>
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i> Entries
                                    RSS</a>
                                </li>
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i> Comments
                                    RSS</a>
                                </li>
                                <li>
                                    <a href="#"><i class=
                                    "ico-keyboard_arrow_right"></i>
                                    WordPress.org</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Content End -->
