{% extends 'base.html' %}
{% load static %}
{% block content %}
   

<!-- Page header Section Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="entry-title">Contact Us</h2>
                    <div class="breadcrumb">
                        <a href="#"><i class="icon-home"></i> Home</a>
                        <span class="crumbs-spacer"><i class=
                        "ico-fast-forward"></i></span> <span class=
                        "current">Contact Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Page header Section End -->
    <!-- Content Start -->
    <div id="content">
        <div class="container">
            <div class="row">
                <!-- Contact Info Start -->
                <div class="contact-info-wrapper clearfix">
                    <div class="col-md-4">
                        <div class="contact-item-wrapper">
                            <div class="icon">
                                <i class="ico-call"></i>
                            </div>
                            <h4>Phone</h4>
                            <p>Phone: 01:(0091) 8545 536245<br>
                            Phone(02):(088) 1925242</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-item-wrapper bl">
                            <div class="icon">
                                <i class="ico-location_on"></i>
                            </div>
                            <h4>Address</h4>
                            <p>5th Floor, Ah Building, 756 New Design St<br>
                            Melbourne, Australia.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-item-wrapper">
                            <div class="icon">
                                <i class="ico-email"></i>
                            </div>
                            <h4>EMAIL</h4>
                            <p>info@graygrids.com<br>
                            admin@wingthemes.com</p>
                        </div>
                    </div>
                </div><!-- Contact Info End -->
                <div class="col-md-8 col-md-offset-2 contact-form">
			<div class="">
                 	{% for message in messages %}
                        <center>
                        <font>{{message}}</font>
                        </center>
                        {% endfor %}
			</div>
		   <form class="shake" data-toggle="validator" id=
                    "contactForm-Bk" name="contactForm" role="form"  method="POST">
			   {% csrf_token %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" data-error=
                                "Please enter your name" id="name" name="name" placeholder=
                                "Your Name" required="" type="text">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" data-error=
                                "Please enter your email" id="email" name="email"
                                placeholder="Your Email" required="" type=
                                "email">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" data-error=
                                "Please enter your message subject" id=
                                "msg_subject" name="subject" placeholder="Subject" required=""
                                type="text">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" data-error=
                                "Write your message" id="message" name="message" placeholder=
                                "Message" required="" rows="5">
</textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-common btn-sn" id="submit"
                            type="submit">Send Message</button>
                            <div class="h3 text-center hidden" id="msgSubmit">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- Content End -->
    <div id="google-map"></div><!-- Footer Start -->
    <!-- js  -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"> 
    </script> <!-- Google Maps JS Only for Contact Pages -->
    <script type="text/javascript">
    var map;
    var plain = new google.maps.LatLng(40.7863882,-73.9706539,13);
    var mapCoordinates = new google.maps.LatLng(40.7863882,-73.9706539,13);


    var markers = [];
    var image = new google.maps.MarkerImage(
      'img/map-marker.png',
      new google.maps.Size(84, 70),
      new google.maps.Point(0, 0),
      new google.maps.Point(60, 60)
    );

    function addMarker() {
      markers.push(new google.maps.Marker({
        position: plain,
        raiseOnDrag: false,
        icon: image,
        map: map,
        draggable: false
        }
      ));      
    }

    function initialize() {
      var mapOptions = {
        backgroundColor: "#ffffff",
        zoom: 15,
        disableDefaultUI: true,
        center: mapCoordinates,
        zoomControl: false,
        scaleControl: false,
        scrollwheel: false,
        disableDoubleClickZoom: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [{
          "featureType": "landscape.natural",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#ffffff"
          }
                     ]
        }
         , {
           "featureType": "landscape.man_made",
           "stylers": [{
             "color": "#ffffff"
           }
                       , {
                         "visibility": "off"
                       }
                      ]
         }
         , {
           "featureType": "water",
           "stylers": [{
             "color": "#80C8E5"
           }
                       , {
                         "saturation": 0
                       }
                      ]
         }
         , {
           "featureType": "road.arterial",
           "elementType": "geometry",
           "stylers": [{
             "color": "#999999"
           }
                      ]
         }
         , {
           "elementType": "labels.text.stroke",
           "stylers": [{
             "visibility": "off"
           }
                      ]
         }
         , {
           "elementType": "labels.text",
           "stylers": [{
             "color": "#333333"
           }
                      ]
         }
         
         , {
           "featureType": "road.local",
           "stylers": [{
             "color": "#dedede"
           }
                      ]
         }
         , {
           "featureType": "road.local",
           "elementType": "labels.text",
           "stylers": [{
             "color": "#666666"
           }
                      ]
         }
         , {
           "featureType": "transit.station.bus",
           "stylers": [{
             "saturation": -57
           }
                      ]
         }
         , {
           "featureType": "road.highway",
           "elementType": "labels.icon",
           "stylers": [{
             "visibility": "off"
           }
                      ]
         }
         , {
           "featureType": "poi",
           "stylers": [{
             "visibility": "off"
           }
                      ]
         }
         
        ]

      }
        ;
      map = new google.maps.Map(document.getElementById('google-map'), mapOptions);
      addMarker();

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
