{% extends 'base.html' %}
{% load static %}
{% block content %}

   <!-- Hero Area Start -->
    <section class="text-center" id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-area">
                        <h3>Welcome To</h3>
                        <h2 class="page-title">Intimate Blog</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Hero Area End -->
    <!-- Content Start -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    


		<!--    Dynamic content Post Start   -->

		{%for post in posts %}
		<!-- Blog Article Start-->
                    <article>
                        <!-- Blog item Start -->
                        <div class="blog-item-wrap">
                            <!-- Post Format icon Start -->
                            <div class="post-format">
                                <span><i class="fa fa-camera"></i></span>
                            </div><!-- Post Format icon End -->
                            <h2 class="blog-title"><a href=
				       "{{ post.get_absolute_url }}">{{ post.title }}</a></h2><!-- Entry Meta Start-->
                            <div class="entry-meta">
                                <span class="meta-part"><i class=
                                "ico-user"></i> <a href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a></span> <span class=
                                "meta-part"><i class=
                                "ico-calendar-alt-fill"></i> <a href=
				 "#">{{ post.publish.date }}</a></span> <span class=
                                "meta-part"><i class="ico-comments"></i>
                                <a href="#">20</a></span> <span class=
                                "meta-part"><i class="ico-tag"></i> <a href=
                                "#">Tech</a></span> <span class=
                                "meta-part"><i class="ico-star"></i> <a href=
                                "#">7.5</a></span>
                            </div><!-- Entry Meta End-->
                            <!-- Feature inner Start -->
                            <div class="feature-inner">
                                <a data-lightbox="roadtrip" href=
						  "{{ post.image.url }}"><img alt="" src=
						  "{{ post.image.url }}"></a>
                            </div><!-- Feature inner End -->
                            <!-- Post Content Start -->
                            <div class="post-content">
				<!-- post body test area start -->
				<p>
					
					{{ post.excerpt|safe }}
					<!--  post.body|safe|truncatewords:10 -->
				</p>	
			
				<!-- post body test area end -->
				
				<!--
				<p>Internet Explorer has long been the bane of
                                many Web developers’ existence, but here’s some
                                news to brighten your day: Internet Explorer 8,
                                9 and 10 are <a href=
                                "https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support"
                                target="_blank">reaching&nbsp;‘end of life’ on
                                Tuesday</a>, meaning they’re no longer
                                supported by Microsoft.</p>
                                <p>A patch, <a href=
                                "https://support.microsoft.com/en-us/kb/3123303?sd=rss&amp;spid=14019"
                                target="_blank">which goes live on January
                                12</a>, will nag Internet Explorer users on
                                launch to upgrade to a modern browser. <a href=
                                "https://support.microsoft.com/en-us/kb/3123303?sd=rss&amp;spid=14019"
                                target="_blank">KB3123303</a> adds the&nbsp;nag
                                box, which will appear for Windows 7 and Server
                                2008 R2 users still using the old browsers
                                after installing the update.</p>
                                <p>It’s great news for developers who still
                                need to target older browsers — not needing to
                                worry about whether or not modern CSS works in
                                these browsers is a dream, and it’s much closer
                                with this move.</p>

				-->
                            </div><!-- Post Content End -->
                            <div class="entry-more">
                                <div class="pull-left">
                                    <a class="btn btn-common" href=
                                    "{{ post.get_absolute_url }}">Read More <i class=
                                    "ico-arrow-right"></i></a>
                                </div>
                                <div class="share-icon pull-right">
                                    <span class="socialShare"></span>
                                </div>
                            </div>
                        </div><!-- Blog item End -->
                    </article><!-- Blog Article End-->
		
		    {% endfor %}




		<!--    Dynamic content Post End     -->




                    <!-- Blog Article Start-->
                    <article>
                        <!-- Blog item Start -->
                        <div class="blog-item-wrap">
                            <!-- Post Format icon Start -->
                            <div class="post-format">
                                <span><i class="fa fa-video-camera"></i></span>
                            </div><!-- Post Format icon End -->
                            <h2 class="blog-title"><a href=
                            "single.html">Intimate - Made with Bootstrap and
                            HTML5</a></h2><!-- Entry Meta Start-->
                            <div class="entry-meta">
                                <span class="meta-part"><i class=
                                "ico-user"></i> <a href="#">James
                                Maclern</a></span> <span class=
                                "meta-part"><i class=
                                "ico-calendar-alt-fill"></i> <a href=
                                "#">January 7, 2015</a></span> <span class=
                                "meta-part"><i class="ico-comments"></i>
                                <a href="#">20</a></span> <span class=
                                "meta-part"><i class="ico-tag"></i> <a href=
                                "#">Tech</a></span> <span class=
                                "meta-part"><i class="ico-star"></i> <a href=
                                "#">7.5</a></span>
                            </div><!-- Entry Meta End-->
                            <!-- Feature inner Start -->
                            <div class="feature-inner">
                                <iframe allowfullscreen="" frameborder="0"
                                height="345" src=
                                "https://player.vimeo.com/video/93736031?title=0&byline=0&portrait=0"
                                width="100%"></iframe>
                                <p><a href=
                                "https://vimeo.com/93736031">TheSynapse mobile
                                app</a> from <a href=
                                "https://vimeo.com/jeffgalea">Jeff Galea</a> on
                                <a href="https://vimeo.com">Vimeo</a>.</p>
                            </div><!-- Feature inner End -->
                            <!-- Post Content Start -->
                            <div class="post-content">
                                <p>HP is not normally the first company that
                                comes to mind when you think of top-notch
                                laptop design, but it just took a giant stride
                                to make you think again. Its new EliteBook
                                Folio sets its sights firmly on the <a href=
                                "http://thenextweb.com/apple/2015/06/12/the-new-macbook-is-my-dream-machine-and-i-dont-care-about-the-compromises/#gref">
                                2015 MacBook</a>&nbsp;– from what I’ve
                                seen&nbsp;so far it looks like it’s going to be
                                a fair fight.</p>
                                <p>At first glance, it ticks all the boxes. The
                                laptop is only 12.4 mm at its thickest point
                                and weighs 2.2 lb (versus 13.1 mm/2.03 lb on
                                the MacBook), and comes in an attractive
                                metallic finish. The pictures don’t really do
                                it justice – it’s more gunmetal than silver and
                                has a more reflective sheen than the flat matte
                                so prevalent in Apple products.</p>
                            </div><!-- Post Content End -->
                            <div class="entry-more">
                                <div class="pull-left">
                                    <a class="btn btn-common" href=
                                    "single.html">Read More <i class=
                                    "ico-arrow-right"></i></a>
                                </div>
                                <div class="share-icon pull-right">
                                    <span class="socialShare"></span>
                                </div>
                            </div>
                        </div><!-- Blog item End -->
                    </article><!-- Blog Article End-->
                    <!-- Post Quote Start -->
                    <div class="post-quote text-center">
                        <blockquote>
                            <div class="icon">
                                <i class="ico-quote"></i>
                            </div>
                            <p>Design is not what its looks like and feels
                            like. Design is how it works...</p>
                            <p class="client-name">- Steave Jobs, CEO,
                            Apple</p>
                        </blockquote>
                    </div><!-- Post Quote End -->
                    <!-- Blog Article Start-->
                    <article>
                        <!-- Blog item Start -->
                        <div class="blog-item-wrap">
                            <!-- Post Format icon Start -->
                            <div class="post-format">
                                <span><i class="fa fa-volume-up"></i></span>
                            </div><!-- Post Format icon End -->
                            <h2 class="blog-title"><a href="single.html">Let’s
                            enjoy the music</a></h2><!-- Entry Meta Start-->
                            <div class="entry-meta">
                                <span class="meta-part"><i class=
                                "ico-user"></i> <a href="#">James
                                Maclern</a></span> <span class=
                                "meta-part"><i class=
                                "ico-calendar-alt-fill"></i> <a href=
                                "#">January 7, 2015</a></span> <span class=
                                "meta-part"><i class="ico-comments"></i>
                                <a href="#">20</a></span> <span class=
                                "meta-part"><i class="ico-tag"></i> <a href=
                                "#">Tech</a></span> <span class=
                                "meta-part"><i class="ico-star"></i> <a href=
                                "#">7.5</a></span>
                            </div><!-- Entry Meta End-->
                            <!-- Feature inner Start -->
                            <div class="feature-inner">
                                <iframe frameborder="no" height="280"
                                scrolling="no" src=
                                "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/230240104&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
                                width="100%"></iframe>
                            </div><!-- Feature inner End -->
                            <!-- Post Content Start -->
                            <div class="post-content">
                                <p>If pre-show appearances were any inclination
                                of what we were about to see, this would have
                                made for an amazing annoucement designed to
                                show off Sony’s new wares. But if you believe
                                that large and impressive-looking booth spaces
                                and hundreds of reporters are a sign of great
                                things to come, you’d be mistaken.</p>
                            </div><!-- Post Content End -->
                            <div class="entry-more">
                                <div class="pull-left">
                                    <a class="btn btn-common" href=
                                    "single.html">Read More <i class=
                                    "ico-arrow-right"></i></a>
                                </div>
                                <div class="share-icon pull-right">
                                    <span class="socialShare"></span>
                                </div>
                            </div>
                        </div><!-- Blog item End -->
                    </article><!-- Blog Article End-->
                    <!-- Blog Article Start-->
                    <article>
                        <!-- Blog item Start -->
                        <div class="blog-item-wrap">
                            <!-- Post Format icon Start -->
                            <div class="post-format">
                                <span><i class="fa fa-picture-o"></i></span>
                            </div><!-- Post Format icon End -->
                            <h2 class="blog-title"><a href="single.html">Have
                            an Amazing Blogging and Portfolio Showcase
                            Experience</a></h2><!-- Entry Meta Start-->
                            <div class="entry-meta">
                                <span class="meta-part"><i class=
                                "ico-user"></i> <a href="#">James
                                Maclern</a></span> <span class=
                                "meta-part"><i class=
                                "ico-calendar-alt-fill"></i> <a href=
                                "#">January 7, 2015</a></span> <span class=
                                "meta-part"><i class="ico-comments"></i>
                                <a href="#">20</a></span> <span class=
                                "meta-part"><i class="ico-tag"></i> <a href=
                                "#">Tech</a></span> <span class=
                                "meta-part"><i class="ico-star"></i> <a href=
                                "#">7.5</a></span>
                            </div><!-- Entry Meta End-->
                            <!-- Feature inner Start -->
                            <div class="feature-inner">
                                <!-- Post post-thumb -->
                                <div class="post-thumb">
                                    <div class="touch-slider owl-carousel">
                                        <div class="item">
                                            <a href="#"><img alt="" src=
						     "{% static 'img/blog/blog-04.jpg' %}"></a>
                                        </div>
                                        <div class="item">
                                            <a href="#"><img alt="" src=
						     "{% static 'img/blog/blog-01.jpg' %}"></a>
                                        </div>
                                        <div class="item">
                                            <a href="#"><img alt="" src=
						     "{% static 'img/blog/blog-05.jpg' %}"></a>
                                        </div>
                                    </div>
                                </div><!-- End Post post-thumb -->
                            </div><!-- Feature inner End -->
                            <!-- Post Content Start -->
                            <div class="post-content">
                                <p>The Netherlands government vocalized its
                                support for the use of encryption to maintain
                                privacy online, in <a href=
                                "http://www.tweedekamer.nl/kamerstukken/brieven_regering/detail?id=2016Z00009&amp;did=2016D00015"
                                target="_blank">a statement issued on
                                Monday</a>.</p>
                                <p>The country’s minister of security and
                                justice Ard van der Steur wrote that the Dutch
                                executive cabinet endorsed “the importance of
                                strong encryption for Internet security to
                                support the protection of privacy for citizens,
                                companies, the government, and the entire Dutch
                                economy.</p>
                                <p>Therefore, the government believes that it
                                is currently not desirable to take legal
                                measures against the development, availability
                                and use of encryption within the
                                Netherlands.”</p>
                                <p></p>
                            </div><!-- Post Content End -->
                            <div class="entry-more">
                                <div class="pull-left">
                                    <a class="btn btn-common" href=
                                    "single.html">Read More <i class=
                                    "ico-arrow-right"></i></a>
                                </div>
                                <div class="share-icon pull-right">
                                    <span class="socialShare"></span>
                                </div>
                            </div>
                        </div><!-- Blog item End -->
                    </article><!-- Blog Article End-->
                    <!-- Post Quote Start -->
                    <div class="post-quote text-center">
                        <blockquote>
                            <div class="icon">
                                <i class="ico-reply"></i>
                            </div>
                            <p>Design is not what its looks like and feels
                            like. Design is how it works...</p><a href=
                            "#">https://youtu.be/sPfJQmpg5zk</a>
                        </blockquote>
                    </div><!-- Post Quote End -->
                    <!-- Blog Article Start-->
                    <article>
                        <!-- Blog item Start -->
                        <div class="blog-item-wrap">
                            <!-- Post Format icon Start -->
                            <div class="post-format">
                                <span><i class="ico-bookmark"></i></span>
                            </div><!-- Post Format icon End -->
                            <h2 class="blog-title"><a href="#">Clean and
                            Simplified UI/UX</a></h2><!-- Entry Meta Start-->
                            <div class="entry-meta">
                                <span class="meta-part"><i class=
                                "ico-user"></i> <a href="#">James
                                Maclern</a></span> <span class=
                                "meta-part"><i class=
                                "ico-calendar-alt-fill"></i> <a href=
                                "#">January 7, 2015</a></span> <span class=
                                "meta-part"><i class="ico-comments"></i>
                                <a href="#">20</a></span> <span class=
                                "meta-part"><i class="ico-tag"></i> <a href=
                                "#">Tech</a></span> <span class=
                                "meta-part"><i class="ico-star"></i> <a href=
                                "#">7.5</a></span>
                            </div><!-- Entry Meta End-->
                            <!-- Post Content Start -->
                            <div class="post-content">
                                <p>The first day of work of 2016 brings with it
                                the dread of a dawning realization for most…
                                you’ve made New Year’s resolutions, and you
                                have to stick to them. Or, at the very least,
                                you should give it the old college try.
                                According to a study by the University of
                                Scranton published in the Journal of
                                Psychology, 45 percent of Americans usually
                                make resolutions, but only 8 percent are
                                successful. It also found that those who
                                explicitly make resolutions are ten times more
                                likely to succeed in accomplishing them.</p>
                            </div><!-- Post Content End -->
                            <div class="entry-more">
                                <div class="pull-left">
                                    <a class="btn btn-common" href=
                                    "single.html">Read More <i class=
                                    "ico-arrow-right"></i></a>
                                </div>
                                <div class="share-icon pull-right">
                                    <span class="socialShare"></span>
                                </div>
                            </div>
                        </div><!-- Blog item End -->
                    </article><!-- Blog Article End-->
                    <!-- Blog Article Start-->
                    <article>
                        <!-- Pagination Start -->
                        <ul class="pager">
                            <li class="previous">
                                <a href="#"><i class="ico-arrow-left"></i>
                                Previous</a>
                            </li>
                            <li style="list-style: none"><span class=
                            "active"><a href="#">1</a></span> <span><a href=
                            "#">2</a></span> <span><a href="#">3</a></span>
                            <span><a href="#">4</a></span> <span><a href=
                            "#">5</a></span></li>
                            <li class="next">
                                <a href="#">Next <i class=
                                "ico-arrow-right"></i></a>
                            </li>
                        </ul><!-- Pagination End -->
                    </article><!-- Blog Article End-->
                </div>
{% endblock %}
