{% extends 'base.html' %}
{% load static %}
{% block content %}

   <!-- Hero Area Start -->
    <section class="text-center" id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-area">
                        <h3>Welcome To</h3>
                        <h2 class="page-title">Intimate Blog</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Hero Area End -->
    <!-- Content Start -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    


		<!--    Dynamic content Post Start   -->

		{%for post in posts %}
		<!-- Blog Article Start-->
                    <article>
                        <!-- Blog item Start -->
                        <div class="blog-item-wrap">
                            <!-- Post Format icon Start -->
                            <div class="post-format">
                                <span><i class="fa fa-camera"></i></span>
                            </div><!-- Post Format icon End -->
                            <h2 class="blog-title"><a href=
				       "{{ post.get_absolute_url }}">{{ post.title }}</a></h2><!-- Entry Meta Start-->
                            <div class="entry-meta">
                                <span class="meta-part"><i class=
                                "ico-user"></i> <a href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a></span> <span class=
                                "meta-part"><i class=
                                "ico-calendar-alt-fill"></i> <a href=
				 "#">{{ post.publish.date }}</a></span> <span class=
                                "meta-part"><i class="ico-comments"></i>
                                <a href="#">20</a></span> <span class=
                                "meta-part"><i class="ico-tag"></i>
				
				{% for tag in post.tags.all %}
				<a href="{% url 'blog:post_tag' tag.slug %}">{{tag.name}}</a></span> 
				{% endfor %}
				
				<span class=
                                "meta-part"><i class="ico-star"></i> <a href=
                                "#">7.5</a>
				</span>
                            </div><!-- Entry Meta End-->
                            <!-- Feature inner Start -->
                            <div class="feature-inner">
                                <a data-lightbox="roadtrip" href=
						  "{{ post.image.url }}"><img alt="" src=
						  "{{ post.image.url }}"></a>
                            </div><!-- Feature inner End -->
                            <!-- Post Content Start -->
                            <div class="post-content">
				<!-- post body test area start -->
				<p>
					
					{{ post.excerpt|safe }}
					<!--  post.body|safe|truncatewords:10 -->
				</p>	
			
				<!-- post body test area end -->
				
				<!--
				<p>Internet Explorer has long been the bane of
                                many Web developers’ existence, but here’s some
                                news to brighten your day: Internet Explorer 8,
                                9 and 10 are <a href=
                                "https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support"
                                target="_blank">reaching&nbsp;‘end of life’ on
                                Tuesday</a>, meaning they’re no longer
                                supported by Microsoft.</p>
                                <p>A patch, <a href=
                                "https://support.microsoft.com/en-us/kb/3123303?sd=rss&amp;spid=14019"
                                target="_blank">which goes live on January
                                12</a>, will nag Internet Explorer users on
                                launch to upgrade to a modern browser. <a href=
                                "https://support.microsoft.com/en-us/kb/3123303?sd=rss&amp;spid=14019"
                                target="_blank">KB3123303</a> adds the&nbsp;nag
                                box, which will appear for Windows 7 and Server
                                2008 R2 users still using the old browsers
                                after installing the update.</p>
                                <p>It’s great news for developers who still
                                need to target older browsers — not needing to
                                worry about whether or not modern CSS works in
                                these browsers is a dream, and it’s much closer
                                with this move.</p>

				-->
                            </div><!-- Post Content End -->
                            <div class="entry-more">
                                <div class="pull-left">
                                    <a class="btn btn-common" href=
                                    "{{ post.get_absolute_url }}">Read More <i class=
                                    "ico-arrow-right"></i></a>
                                </div>
                                <div class="share-icon pull-right">
                                    <span class="socialShare"></span>
                                </div>
                            </div>
                        </div><!-- Blog item End -->
                    </article><!-- Blog Article End-->
		
		    {% endfor %}

		<!--    Dynamic content Post End     -->




                    <!-- Blog Article Start-->
                    <!-- Blog Article End-->
                    <!-- Post Quote Start -->
                    <div class="post-quote text-center">
                        <blockquote>
                            <div class="icon">
                                <i class="ico-quote"></i>
                            </div>
                            <p>Design is not what its looks like and feels
                            like. Design is how it works...</p>
                            <p class="client-name">- Steave Jobs, CEO,
                            Apple</p>
                        </blockquote>
                    </div><!-- Post Quote End -->
                    <!-- Blog Article Start-->
                    <!-- Blog Article End-->
                    <!-- Blog Article Start-->
                    <!-- Blog Article End-->
                    <!-- Post Quote Start -->
                    <div class="post-quote text-center">
                        <blockquote>
                            <div class="icon">
                                <i class="ico-reply"></i>
                            </div>
                            <p>Design is not what its looks like and feels
                            like. Design is how it works...</p><a href=
                            "#">https://youtu.be/sPfJQmpg5zk</a>
                        </blockquote>
                    </div><!-- Post Quote End -->
                    <!-- Blog Article Start-->
                    <!-- Blog Article End-->
                    <!-- Blog Article Start-->
                    <article>
                        <!-- Pagination Start -->
                        <ul class="pager">
                            <li class="previous">
                                <a href="#"><i class="ico-arrow-left"></i>
                                Previous</a>
                            </li>
                            <li style="list-style: none"><span class=
                            "active"><a href="#">1</a></span> <span><a href=
                            "#">2</a></span> <span><a href="#">3</a></span>
                            <span><a href="#">4</a></span> <span><a href=
                            "#">5</a></span></li>
                            <li class="next">
                                <a href="#">Next <i class=
                                "ico-arrow-right"></i></a>
                            </li>
                        </ul><!-- Pagination End -->
                    </article><!-- Blog Article End-->
                </div>
{% endblock %}
