{% extends 'base.html' %}
{% load static %}
{% block content %}
    









	<section class="text-center" id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-area">
                        <h2 class="page-title">{{ post.title }}</h2>
                        <div class="entry-meta">
                            <span class="meta-part"><i class="ico-user"></i>
				    <a href="#">{{ post.author.first_name }} {{ post.author.last_name}}</a></span> <span class=
                            "meta-part"><i class="ico-calendar-alt-fill"></i>
			    <a href="#">{{ post.publish }}</a></span> <span class=
                            "meta-part"><i class="ico-comments"></i> <a href=
                            "#">20</a></span> <span class="meta-part"><i class=
                            "ico-tag"></i> <a href="#">Tech</a></span>
                            <span class="meta-part"><i class="ico-star"></i>
                            <a href="#">7.5</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Hero Area End -->
    <!-- Content Start -->
    <div class="single-post" id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <!-- Blog Article Start-->
                    <article class="single-post-content">
                    {{ post.body|safe }} 
		    </article><!-- Blog Article End-->
                    <!-- Blog Article Start -->
                    
		    <article>
                        <div class="author">
                            <div class="author-img"><img alt="" src=
					"{% static 'img/blog/portfolio.jpg' %}"></div>
                            <div class="author-content">
                                <h4>About {{ post.author.first_name }} {{ post.author.last_name}}</h4>
                                <p>Margaret Gould Stewart is Director of
                                Product Design at Facebook, Inc, leading the
                                company's user experience efforts around
                                advertising and business presence. Prior to her
                                current role, she spent three years leading UX
                                for YouTube, and two years leading Search and
                                Consumer Products UX at Google.</p><a class=
                                "btn btn-common btn-more" href="#">Learn More
                                <i class="ico-arrow-right"></i></a>
                            </div>
                        </div>
                    </article><!-- Blog Article End -->
                    


		    <!-- Blog Article Start -->
                    
			<!-- Comment Section Start here -->
		<article>

			{% if not post.comments.all %}
            		No comments yet
        		{% else %}		
            		{% for comment in post.get_comments %}
                	{% include 'comment.html' with comment=comment %}
            		{% endfor %}
        		{% endif %}
		</article>
			<!-- Comment Section Ends here -->

		    <!-- Blog Article End -->
                


		<!-- Blog Article Start -->
                    <article>
                        <!-- Start Respond Form -->
                        <div id="respond">
                            <h2 class="respond-title">Add Comment</h2>
                            <form method="POST" action="">
                               	{% csrf_token %}
				{{ comment_form.as_p }}
                                <div class="row">
                                    <div class="col-md-12">
					<button class="btn btn-common btn-more"
                                        id="submit" type="submit"><i class=
                                        "fa fa-check"></i> Submit Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- End Respond Form -->
                    </article><!-- Blog Article End -->
       		

		    <!-- Blog Article Start -->
                    <article>
                        <div class="relate-post">
                            <h4>Releate Post</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="posts-list">
                                        <li>
                                            <div class="widget-thumb">
                                                <a href="#"><img alt="" src=
                                                "img/post/post1.jpg"></a>
                                            </div>
                                            <div class="widget-content">
                                                <a href="#">Aladdin rides
                                                'magic carpet' at New York in
                                                Halloween prank</a>
                                                <div class="meta">
                                                    <span><i class=
                                                    "ico-calendar-alt-fill"></i>
                                                    October 7,2015</span>
                                                    <span><i class=
                                                    "ico-tag"></i>
                                                    Technology</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="posts-list">
                                        <li>
                                            <div class="widget-thumb">
                                                <a href="#"><img alt="" src=
                                                "img/post/post2.jpg"></a>
                                            </div>
                                            <div class="widget-content">
                                                <a href="#">New Zealand makes
                                                history by winning third Rugby
                                                WC</a>
                                                <div class="meta">
                                                    <span><i class=
                                                    "ico-calendar-alt-fill"></i>
                                                    October 7,2015</span>
                                                    <span><i class=
                                                    "ico-tag"></i>
                                                    Technology</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="posts-list">
                                        <li>
                                            <div class="widget-thumb">
                                                <a href="#"><img alt="" src=
                                                "img/post/post3.jpg"></a>
                                            </div>
                                            <div class="widget-content">
                                                <a href="#">Romania calls for 3
                                                days of mourning after
                                                nightclub fire kills at least
                                                27</a>
                                                <div class="meta">
                                                    <span><i class=
                                                    "ico-calendar-alt-fill"></i>
                                                    October 7,2015</span>
                                                    <span><i class=
                                                    "ico-tag"></i>
                                                    Technology</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="posts-list">
                                        <li>
                                            <div class="widget-thumb">
                                                <a href="#"><img alt="" src=
                                                "img/post/post4.jpg"></a>
                                            </div>
                                            <div class="widget-content">
                                                <a href="#">3 years of 'Star
                                                Wars Episode VII' fandom,
                                                celebrated</a>
                                                <div class="meta">
                                                    <span><i class=
                                                    "ico-calendar-alt-fill"></i>
                                                    October 7,2015</span>
                                                    <span><i class=
                                                    "ico-tag"></i>
                                                    Technology</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article><!-- Blog Article End -->
                </div>
                <!-- Content End -->

  {% endblock %}

